{{#if trips}}
    <section class="trips">
        {{#each trips}}
            <article class="trip">
                <img src="{{this.image}}" alt="{{this.title}}">
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p class="price">Price: ${{this.price}}</p>
            </article>
        {{/each}}
    </section>
{{else}}
    <p>No trips available.</p>
{{/if}}